[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
openpyxl = "*"
xlrd = "*"
pandas = "*"
lxml = "*"
matplotlib = "*"
jinja2 = "*"
pandastable = "*"
numexpr = "*"

[dev-packages]

[requires]
python_version = "3.9.16"
